body{
    background-image: url(../imagenes/thumb-1920-474157.jpg);
}

.tittle{
    color: white;
    text-align: center;
    margin: 100px;
}

.container {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    
}

#titulo{
    color: white;
    padding: 10px;
}

header .title {
    text-align: center;
    margin-bottom: 2em;
}

header .h1 {
    text-align: center;
    margin-bottom: 2em;
}

form {
    
    display: flex;
    align-items: stretch;
}

input, button {
        
        border: 0;
        width: 30vh;
        font-size: 4vmin;
        outline: none;
        border: solid black;
    }

    input {
        background-color: rgba(255, 255, 255, 0.062);
        flex-grow: 2;
        color: white;
        border-color : rgba(0, 0, 0, 0);
        
    }

    button {
        height: 60;
        flex-grow: 1;
        justify-content: center;
        margin: 10px;
        
        
}

.resultados {
    
    
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 196, 0);
    display: flex;
    justify-content: center;
    

}

#results {
    
    text-align: center;
    color: white;
   
    transition: 0.3s ease;
}

#significado{
    color:white;
    font-size: 20px;
}

#volver{
    text-align: center;
    
    
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 55vh;
    padding: 0 2rem;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 159);
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
}

.contact-details {
    font-size: 40px;
    text-shadow: 2px 2px 1px #fdfcd0;
    transition: transform 0.1s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}